@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

/* ############################ root elements ################################ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0f0e0ec2;
}

/* ############################# html elements ################################ */

h1,
h2,
h3 {
  /* margin-bottom: 0.5em; */
  font-size: 1.6rem;
  /* letter-spacing: 0.15em; */
  font-weight: 500;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}

li,
p {
  font-weight: 300;
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  letter-spacing: 0.05em;
  font-family: "Roboto Condensed", sans-serif;
}

ul li {
  list-style: none;
  font-family: "Roboto Condensed", sans-serif;
}

/* ################################# utility elements ########################## */

.lg-heading {
  font-size: 4.5rem;
}

.md-heading {
  font-size: 2.2rem;
}

.text-light {
  color: #f4f4f4;
}

.text-orange {
  color: #e89b00;
}

.text-black {
  color: #333333;
}

.btn {
  transition-duration: 0.4s;
  background-color: black;
  color: white;
  border: 3px solid #e89b00;
  border-radius: 10px;
  padding: 5px 10px;
}

.btn:hover {
  background-color: #e89b00;
  color: white;
  border-radius: 14px;
  padding: 8px 15px;
}

/* ######################## Header ################################ */

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .logo {
  padding: 1rem;
  float: left;
}
.header .nav-items {
  padding-top: 1rem;
  float: right;
}
.header .nav-item {
  display: inline-block;
  align-items: center;
  padding: 1rem;
}
.header .nav-items a {
  color: #fff;
}

.navBar a:link,
.navBar a:visited {
  transition-duration: 0.4s;
  color: #f4f4f4;
}

.navBar a:hover {
  border-bottom: 2px solid #e89b00;
  padding-bottom: 0.3rem;
  color: #e89b00;
  font-size: 2rem;
}

.header .header-content {
  position: absolute;
  top: 35%;
  left: 10%;
  right: 50%;
  /* transform: translate(-50%, -50%); */
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(8, end) 1500ms infinite;
  animation: ellipsis steps(8, end) 1500ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}

/* ########################## initaitors ########################### */

.heading {
  text-align: center;
  font-size: 8rem;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.initiator {
  /* border: 2px solid red; */
  padding-left: 10rem;
  padding-right: 10rem;
  margin-bottom: 10%;
}

.initiator .box {
  position: relative;
  /* border: 2px solid green; */
  float: left;
  margin-right: 5%;
  width: 20%;
  height: 100%;
  padding: 3px;
  box-shadow: 0 0 10px #000000;
  border-radius: 20px;
  background-image: linear-gradient(
    to left,
    rgb(238, 148, 14),
    rgb(180, 236, 26)
  );
}
.initiator .box .socials {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 20px;
}

.initiator .box .socials:hover {
  opacity: 1;
}

.box .textBox {
  padding-left: 10px;
}

.box .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.box .textBox h2 {
  font-size: 2.5rem;
}

.initiator::after {
  content: "";
  display: block;
  clear: both;
}

/* ################################# socials buttons ############################## */

.linkedIn {
  transition-duration: 0.4s;
  background-color: blue;
  margin-top: 30px;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}

.linkedIn:hover { 
  color: white;
  border-radius: 14px;
  padding: 8px 15px;
}

.instagram {
  transition-duration: 0.4s;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  margin-top: 10px;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}

.instagram:hover {
  color: white;
  border-radius: 14px;
  padding: 8px 15px;
}

.twitter {
  transition-duration: 0.4s;
  background-color: #0e76a8;
  margin-top: 10px;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}

.twitter:hover {
  color: white;
  border-radius: 14px;
  padding: 8px 15px;
}

.web {
  transition-duration: 0.4s;
  background-color: #e89b00;
  margin-top: 10px;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}

.web:hover {
  color: white;
  border-radius: 14px;
  padding: 8px 15px;
}
